main{
    text-align: center;body
}
objective{
    text-align: center;
    font-family: sans-serif;
}
#main{
    text-align: center;
}
.ab{
    font-weight: bold;
}
h1{
    background-color: aqua;
}